body {
    background-color: rgb(247, 244, 233);
}

h1 {
    color: blue;
    border: 4px solid brown;
}

p {
    color: red;
    border: 2px solid saddlebrown;
    margin: 50px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: orangered;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}